.dropdown__control {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.dropdown__control:hover {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown__menu {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown__option {
  cursor: pointer;
}

.dropdown__option:hover {
  background-color: #eee;
}

.dropdown__option--is-selected {
  background-color: #d8742a;
  color: #fff;
}

.dropdown__option--is-focused {
  background-color: #e0e0e0;
}