.board {
    display: grid;

    /* border-radius: 8px; */
    aspect-ratio: 1;
    /* padding: 20px 8px; */
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
    width: min(calc(100vmin - 300px), 100%);
    /* height: min(calc(100vmin - 300px), 100%); */
    /* width: 500px; */
    /* height: 500px; */
    aspect-ratio: 1;
    /* height: auto; */
    /* Deduct the height of the action bar and header */
    /* height: calc(100vmin - 200px); */
    gap: 2px;
    /* border: 2px solid #333; */
}

@media only screen and (max-width: 600px) {
    .board {
        width: 100%;
    }
}

.board:focus {
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}