
.board {
    display: grid;
    height: 66%;
    /* border-radius: 8px; */
    margin: 0 auto;
    aspect-ratio: 1/1;
    /* padding: 20px 8px; */
}

.board:focus {
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}