
.action-bar-container {
    height: 30%;
}

.action-bar-row {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.action-bar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 50%;
}

.action-icon, .action-icon-text {
    color: white;
}

.action-icon-selected {
    color: #16ff00;
}

.action-icon {
    width: 2vw;
    height: auto;
    padding-bottom: 5px;
}

.action-icon-text {
    font-size: 0.8vw;
}

h6 {
    color: white;
    font-family: 'Single Day', cursive;
    font-size: 3vw;
    cursor: pointer;
}